@charset 'utf-8';

body
{
    margin: 0 0 !important;
    padding: 0 0 !important;
}

#app
{
    font-family: 'Microsoft YaHei';

    color: #2c3e50;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header .navbar-toggle .icon-bar
{
    background-color: #fff;
}

.header .navbar-toggle.collapsed:hover,
.header .navbar-toggle.collapsed:active
{
    background-color: rgb(255, 189, 1);
}

.header .navbar-toggle.collapsed
{
    border-color: #fff;
}

.header .navbar-right li a
{
    font-size: 16px;

    letter-spacing: 2px;

    color: #fff;
}

.row
{
    margin-right: 0;
    margin-left: 0;
}

.content
{
    padding-top: 50px;
}

a:hover
{
    cursor: pointer;
    text-decoration: none;
}

.border-bottom-line
{
    border-bottom: 1px solid #ddd;
}


img
{
    width: 100%;

    object-position: center;
    object-fit: cover;
}

.panel-green
{
    border: 1px solid rgb(111, 232, 176) !important;
}

.panel-green .panel-heading
{
    background: rgba(111, 232, 176,.6);
}

.panel-green .panel-body
{
    border-top: rgb(111, 232, 176) !important;
}

.project-img
{
    overflow: hidden;
}

.project-img img:hover
{
    cursor: pointer;
    transform: scale(1.5);
}

.project-img img
{
    transition: all 1.5s;
}

ol.breadcrumb
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: transparent;
}
ol.breadcrumb li
{
    font-size: 16px;

    color: #ccc;
}

ol.breadcrumb li.active
{
    color: #000;
}

.sam-spinner .spinner-circle {
    border-right-color: rgb(111, 232, 176) !important;
}
.alert.top {
    top: 25% !important;
}
.sam-alert.alert-success {
    border-color: rgb(111,232,176) !important;
    background-color:  rgba(111,232,176,.4) !important;

}
